<h1>Manumit Academy</h1>
<p>This is a Java Script Based Technology Provider. </p>
Enter the Course Name: <input type="text" ng-model="name"><br>
Enter the Course Fee: <input type="text" ng-model="fee"><br>
Enter the Course Duration: <input type="text" ng-model="duration"><br>
<button ng-click="addCourse()">Add Course</button>
<br>
<br>
<br>
<table border="2px solid">
	<tr>
		<th>Course</th>
		<th>Duration</th>
		<th>Fee</th>
	</tr>
	<tr ng-repeat="i in c | limitTo:4:n">
		<td>{{i.name }}</td>
		<td>{{i.duration | uppercase}}</td>
		<td>{{i.fee | currency : "Rs"}}</td>
	</tr>
</table>
<button ng-click="agle()">Next</button>
<h1>{{t | date}}</h1>